.explore-container {
    > span {
        font-size: rem(12.5px);
        line-height: rem(16px);
        padding-bottom: 2px;
    }

    h1 {
        font-size: rem(28.5px);
        font-family: airbnb-bold, sans-serif;
        color: $clr-black;
        font-weight: unset;
        padding-bottom: 10px;

    }
}
