.notifications {
    padding-top: 20px;

    .notif-list {
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        width: 50vw;

        @include for-mobile-layout {
            width: 100vw;
        }
        @include for-tablet-layout {
            width: 90vw;
        }
        @include for-narrow-layout {
            width: 80vw;
        }
        @include for-normal-layout {
            width: 60vw;
        }

        h1 {
            font-size: 32px;
            line-height: 36px;
            font-family: airbnb-bold, sans-serif;
            color: $clr-black;
            padding-bottom: 20px;
        }

        .notif-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            padding: 15px 0px;
            border-bottom: 1px solid rgb(221, 220, 220);

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            span {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    font-size: rem(14px);
                    line-height: rem(18px);
                    font-family: airbnb-regular, sans-serif;
                    color: $clr-black;
                }

                h4 {
                    flex: 3;
                    font-size: rem(12px);
                    line-height: rem(16px);
                    font-family: airbnb-book, sans-serif;
                    color: $clr-dark;
                }
            }

            .notif-card-txt {
                flex: 3;
                font-size: rem(12px);
                line-height: rem(16px);
                font-family: airbnb-book, sans-serif;
                color: $clr-black;
            }

            a {
                font-size: rem(12px);
                line-height: rem(16px);
                font-family: airbnb-regular, sans-serif;
                color: $clr-black;
            }
        }

        button {
            align-self: flex-start;
            background-color: $clr-brand;
            padding: 7px 40px;
            border-radius: 5px;
            color: white;
            font-size: rem(14px);
            font-weight: 600;
            margin-top: 40px;
        }
    }
}
