button {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.fa-arrow-left {
    font-size: 1.2rem;
}

.fa-arrow-left:hover {
    color: rgb(236, 131, 131);
}

.fa-edit {
    font-size: 1.2rem;
}

.fa-edit:hover {
    color: rgb(35, 155, 45);
}

.fa-save {
    font-size: 1.2rem;
}

.fa-save:hover {
    color: rgb(35, 155, 45);
}

.fa-trash-alt {
    font-size: 1.2rem;
}

.fa-trash-alt:hover {
    color: rgb(236, 131, 131);
}

.fa-check-square {
    color: rgb(35, 155, 45);
}

.fa-square {
    color: rgb(236, 131, 131);
}

