.main {
    display: grid;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $mobile-breakpoint)
        minmax(2rem, 1fr);

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    &.page {
        margin: 14vh auto;
    }

    @include for-tablet-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $tablet-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-large-layout {
        grid-template-columns:
            minmax(5rem, 1fr)
            minmax(auto, $large-breakpoint)
            minmax(5rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $large-breakpoint)
            minmax(2rem, 1fr);
    }
}

.narrow {
    display: grid;
    
    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    &.page {
        margin: 14vh auto;
    }

    @include for-mobile-layout {
        grid-template-columns:
            minmax(0.5rem, 1fr)
            minmax(auto, 350px)
            minmax(0.5rem, 1fr);
    }
    @include for-tablet-layout {
        grid-template-columns:
            minmax(0.5rem, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(0.5rem, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $tablet-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-large-layout {
        grid-template-columns:
            minmax(5rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(5rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
}
