

    .google-map {
        padding: 20px 0px;
        position: relative;
        margin: 0 0;
        height: 480px;
        width: 100%;
        left: 0%;

        .map {
            position: static;
            margin: 0 0;
            padding: 0 0;
            height: 100%;
            width: 100%;
            left: 0%;
        }
    }

