@font-face {
    font-family: airbnb-regular;
    src: url(../../assets//fonts/AirbnbCerealMedium.woff);
}

@font-face {
    font-family: airbnb-book;
    src: url(../../assets//fonts/AirbnbCerealBook.woff);
}

@font-face {
    font-family: airbnb-bold;
    src: url(../../assets//fonts/AirbnbCerealBold.woff);
}

@font-face {
    font-family: airbnb-extra-bold;
    src: url(../../assets//fonts/AirbnbCerealExtraBold.woff);
}

@font-face {
    font-family: airbnb-black;
    src: url(../../assets//fonts/AirbnbCerealBlack.woff);
}

