// Colors

$clr-brand: #ff385c;
$clr-dark: #484848;
$clr-light: #ffffff;
$clr-black: #222222;
$clr-gray: #717171;
$clr-green: #00a699;
$clr-orange: #fc642d;

// Breakpoints
$mobile-breakpoint: 500px;
$tablet-breakpoint: 740px;
$narrow-breakpoint: 950px;
$normal-breakpoint: 1130px;
$large-breakpoint: 1500px;
$wide-breakpoint: 1600x;

//Font Size
$fs12: rem(12px, 16px);
$fs14: rem(14px, 16px);
$fs18: rem(18px, 16px);
$fs20: rem(20px, 16px);
$fs24: rem(24px, 16px);
$fs28: rem(28px, 16px);
$fs30: rem(30px, 16px);